@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root {
    --primary-color: #45f882;
    --secondry-color:#023237;
    --bg-color: #0B1016;
    --cards-bg: #090034;
    --white-color: #ffff;
    --black-color: black;
    --gray-color: #7A7979;
    --transparent-color:rgba(0, 253, 169, 0.8);
    --primary-hover: #95ffb9;
    --icons-bg: rgba(161, 255, 221, 0.8);
    --main-font: "Bruno Ace SC", sans-serif;
    --big-raduis: 24px;
    --small-raduis: 12px;
    
}

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    
      box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    margin: 0 6rem;
}
section{
    padding:0 8rem;
    border-bottom: 1px solid var(--primary-color);
}

li {
    list-style: none;
    font-size: 1.5rem;
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--white-color);
    font-family: var(--main-font);
    transition: all 0.5s;
}


a:hover {
    color: var(--primary-color);
}


p{
    font-size: 1.8rem;
    color: var(--gray-color);
}

h1 {
    color: var(--primary-color);
    font-family: var(--main-font);
    font-size: 2rem;
}

button {
    width: 14rem;
    height: 4rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--small-raduis);
    color: var(--black-color);
    font-size: 16px;
    font-family: var(--main-font);
    transition: background-color 0.5s all;
    cursor: pointer;
}

button:hover {
   background-color: var(--cards-bg);
   border: 1px solid var(--primary-color);
   color: var(--primary-color);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-color);
    background-color: var(--bg-color);
    padding: 2rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo span {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.nav_list ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav_list ul li {
    font-size: 1.2rem;
}

.connection_btn {
    display: flex;
    gap: 2rem;
}

.login_btn {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    transition: all 0.5s;
}

.login_btn:hover {
    color: var(--primary-color);
    background-color: var(--bg-color);
    border: 1px solid var(--white-color);
}
 .open_mobile_menu i {
       display: none;
    }
  .section_banner{
    position: relative;
  }
    .section_banner::after{
      content: "";
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .section_banner img{
        height: 50vh;
        width: 100%;
        object-fit: cover;
        position: relative;
    }
    .section_title{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50% , -50%);
        text-align: center;
    }
    .section_title h1{
        font-size: 4rem;
    }
    .section_title p{
        font-size: 2rem;
        padding-top: 2rem;
        font-family: var(--main-font);
    }

    .title h1{
        font-size: 2rem;
        padding: 3rem 0;
        text-align: center;
    }
/*footer*/

.Top_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
}
.footer_description p {
    padding-top: 2rem;
}

.footer_icons {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
}

.footer_icons a {
    font-size: 2rem;
    padding: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: var(--small-raduis);
}
.footer_icons i {
    font-size: 2rem;
}

.footer_links h2 {
    color: var(--white-color);
    font-size: 2rem;
}

.footer_links li a {
    color: var(--gray-color);
    padding-top: 1rem;
    font-size: 1.4rem;
    transition: all 0.5s;
}
.footer_links li a:hover {
   color: var(--primary-color);
   transform: translateX(7px);
}
.contact_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}
.info{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.info_icon { 
   font-size: 2rem;
   color: var(--white-color);
   border: 1px solid var(--primary-color);
   border-radius: var(--small-raduis);
   padding: 1.5rem;
   transition: all 0.3s ;
   cursor: pointer;
}
.info_icon i { 
   font-size: 2rem;
  
}
.info_icon:hover{ 
  background-color: var(--primary-color);
  color: var(--white-color);;
}

.info_content{
  display: flex;
  flex-direction: column; 
  gap: 1rem;
}
.info_content h3{
    color: var(--white-color);
    font-size: 1.6rem;  
}

.info_content a{
   color: var(--gray-color);
   font-size: 1.4rem;
}
.info_content p{
   color: var(--gray-color);
   font-size: 1.4rem;
   font-family: var(--main-font);
}

.copyright_part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 0;
}
.terms_part a{
    padding-left: 2rem;
    font-size: 1.2rem;
    
}
@media (max-width: 768px) {
    body {
        margin: 0 0.5rem;
        
    }

    section{
    padding:0 ;
    border-bottom: 1px solid var(--primary-color);
}

 .section_title h1{
        font-size: 2rem;
    }
    .section_title p{
        font-size: 1.5rem;
    }
     .title h1{
        font-size: 1.5rem;
    }
h1{
    font-size: 2rem;
}
li{
    font-size: 0.1rem;
}
    
    #header {
      width: 100%;
    }

    .nav_list,
    .connection_btn {
        display: none;
    }

    .open_mobile_menu i {
        color: var(--white-color);
        font-size: 2rem;
        display: block;
    }


    /*footer*/
    .Top_footer {
   flex-direction: column;
   align-items: start;
}

.footer_links {
   padding-top: 2rem;
}
.footer_links li a {
    font-size: 1rem;
}


.contact_info{
    flex-direction: column;
     align-items: start;
    gap: 3rem;
 
}

.info_icon{ 
  background-color: var(--primary-color); 
}
.info_icon { 
   font-size: 1rem;
   padding: 1rem;
  
}
.info_content h3{
    color: var(--white-color);
    font-size: 1.4rem;  
}

.info_content a{
   color: var(--gray-color);
   font-size: 1rem;
}
.info_content p{
   font-size: 1rem;
}


.terms_part a{
    padding-left: 2rem;
    font-size: 1.2rem;
}



.copyright_part{
   flex-direction: column-reverse;
   gap: 3rem;
}
.copyright_part p{
    text-align: center;
  font-size: 1.2rem;
  color: var(--gray-color);
}

}